ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.bounce {
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(-160%);
  }
  40% {
    -webkit-transform: translateY(-120%);
  }
  60% {
    -webkit-transform: translateY(-120%);
  }
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(-150%);
  }
  40% {
    -moz-transform: translateY(-120%);
  }
  60% {
    -moz-transform: translateY(-120%);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
    transform: translateY(-150%);
  }
  40% {
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    -o-transform: translateY(-120%);
    transform: translateY(-120%);
  }
  60% {
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    -o-transform: translateY(-120%);
    transform: translateY(-120%);
  }
}

/* ////////////implementing nav-menu/////////////// */

.body-s {
  overflow-y: hidden;
}

.stop {
  pointer-events: none;
}

.nav-open {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  background-color: #fff;
  text-align: left;
  transition: all 0.33s ease-in;
  transform: translateX(100%);
}

.open-nav {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  overflow-y: scroll;
}

#blur {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.275);
  z-index: 200;
  cursor: pointer;
  overflow: hidden;
  backdrop-filter: blur(3px);
}

.nav-open-list {
  margin-left: 3rem;
  margin-top: 8rem;
}

.open-link {
  display: block;
  font-size: 1.5rem;
  color: #000;
  position: relative;
  margin-bottom: 0.9rem;
  width: 90%;
  padding: 0.7rem;
  border-radius: 10px;
  transition: all 0.5s;
  display: flex;
  align-items: flex-start;
}

.open-link:hover {
  box-shadow: 10px solid #ddd inset;
  background-color: hsla(0, 0%, 0%, 0.05);
}

.close {
  font-size: 2.7rem;
  padding: 0.4rem;
}

.close-link {
  position: absolute;
  right: 10%;
  top: 4%;
  transition: all 0.5s;
}

.close-link:hover,
.close-link:active {
  background-color: hsla(0, 0%, 0%, 0.05);
  border-radius: 100%;
  color: #555;
}

.open-globe {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}

.states {
  display: flex;
  gap: 1rem;
}

.icon-globe {
  height: 2.5rem;
  color: #555;
}

.lang {
  margin-left: 3.5rem;
  font-size: 1.2rem;
  transition: all 0.5s ease;
  color: #555;
}

.lang:hover {
  box-shadow: 0 2px 0 #000;
  cursor: pointer;
}
